.coverage
.tox
.DS_Store
LibreOffice*
coverage.xml
env
ve/
htmlcov/

*.pyc
src/shoobx/rml2odt/tests/test_data/expected/*.pdf
src/shoobx/rml2odt/tests/test_data/expected/*.png
src/shoobx/rml2odt/tests/test_data/output/*.odt
src/shoobx/rml2odt/tests/test_data/output/*.pdf
src/shoobx/rml2odt/tests/test_data/output/*.png
src/shoobx.rml2odt.egg-info
