.coverage
.tox
LibreOffice*
coverage.xml
env
ve/

*.pyc
src/shoobx/rml2odt/tests/test_rml2odt_data/expected/*.pdf
src/shoobx/rml2odt/tests/test_rml2odt_data/expected/*.png
src/shoobx/rml2odt/tests/test_rml2odt_data/output/*.odt
src/shoobx/rml2odt/tests/test_rml2odt_data/output/*.pdf
src/shoobx/rml2odt/tests/test_rml2odt_data/output/*.png
src/shoobx.rml2odt.egg-info
