language: python
sudo: required
python:
    - 2.7
    - 3.5
    - 3.6
before_install:
    - sudo apt-get install ghostscript libreoffice python3-uno
    - echo '/usr/bin/python3' > env
install:
    - travis_retry pip install tox tox-travis coveralls
script:
    - tox
notifications:
    email: false
after_success:
    - coveralls
