include *.rst
include *.txt
include *.py
include .coveragerc
include .travis.yml
include Makefile
include buildout.cfg
include tox.ini

recursive-include src *
recursive-include ci *
recursive-exclude src/shoobx/rml2odt/tests/test_data/output *
recursive-exclude src/shoobx/rml2odt/tests/test_data/expected *.pdf *.png
recursive-exclude src/shoobx/rml2odt/tests/z3c_rml_tests/output *
recursive-exclude src/shoobx/rml2odt/tests/z3c_rml_tests/expected *.pdf *.png

global-exclude *.pyc

